.header__buttons {
  right: 2rem;
  top: 2rem;
  position: fixed;
  z-index: 1000;
  & > a {
    position: fixed;
    right: 2rem;
    top: 2rem;
    z-index: 1000;
    color: white;
    background-color: lighten($color-main, 12%);
    @include base-button;
  }
}
