


<!DOCTYPE html>
<html>
	<head>
		{# include meta #}

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

 		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
		integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
		crossorigin=""/>

		<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
		integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
		crossorigin=""></script>
		
		<link rel="stylesheet" href="/assets/common.min.css?v={{ timestamp }}">

		<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
		<link rel="stylesheet" href="/assets/common.min.css?v={{ timestamp }}">
		{% include "templates/_includes/layout-extention/namespace.html" %}
	</head>
	<body>
		{# header #}
		{% include "templates/_includes/layout-extention/header.html" %}

		{# page layout #}
		{% block content %} {% endblock %}


		{# footer #}
		{% include "templates/_includes/layout-extention/footer.html" %}


		<script src="/assets/common.min.js?v={{ timestamp }}" defer></script>

	</body>
</html>
