// input fields
.input-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  & > input {
    padding: 0.5rem;
    width: 100%;
    font-size: 1.2rem;
    background-color: $color-neutral;
    text-align: center;
    border-radius: 3px;
    appearance: none;
    color: $color-font-grey;
  }
  & > label {
    position: absolute;
    width: 100%;
    background-color: $color-accent;
    bottom: -100%;
    font-size: 0.8rem;
    text-align: center;
    text-transform: uppercase;
    padding: 0.1rem 0;
    right: 0;
  }
  & > input:focus + label,
  & > input:valid + label {
    animation: label-in 0.3s forwards ease-out;
  }
  & > input:focus,
  & > input:valid {
    animation: select-active-height 0.3s forwards;
    border: 1px solid $color-accent;
  }
  & > input:focus::placeholder {
    color: transparent;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

// for select
.input-wrapper:has(select) {
  &:after {
    content: "\2304";
    position: absolute;
    width: 1rem;
    height: 1rem;
    right: 0.5rem;
    color: black;
    top: -0.2rem;
    pointer-events: none;
  }
}

// for textarea
.input-wrapper > textarea {
  background-color: #fff;
  width: 100%;
  color: #333;
  padding: 0.5rem;
  &:focus + label,
  &:not(:placeholder-shown) + label {
    animation: label-in 0.3s forwards ease-out;
  }
  &:focus,
  &:not(:placeholder-shown) {
    animation: padding-increase 0.3s forwards;
  }
}
